#site-wrapper {
    width: clamp(320px, 90vw, 720px);
    margin: 2rem 2rem 2rem 1.5rem;
    flex: 1;
    height: 80vh;
    overflow-y: hidden;
}

#main-layout {
    display:flex;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: var(--space-xl);
    margin-left: var(--space-lg);

    padding-top: 15px;
    padding-bottom: 15px;
    width: clamp(180px, 18vw, 260px);
    height: 80vh;
}

#site-title {
    margin: 0;
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--color-text-dark);
    letter-spacing: 2px;
}

#task-bar {
    display:flex;
    width: 97vw;
    margin:auto;

    background: 
        radial-gradient(circle, 
            var(--task-bar-gradient-top),
            var(--task-bar-gradient-middle),
            var(--task-bar-gradient-bottom)
        );
    
    border: 3px solid #0000007a;

    box-shadow:
    0 0 0 2px rgba(19, 0, 103, 0.43),
        8px 8px 18px rgba(21, 0, 55, 0.52);
}

footer {
    text-align: center;
    margin-top: var(--space-lg);
    color: #4d4d4d;
    font-size: 0.9rem;
}


