#site-wrapper {
    margin-top:2rem;
    margin-right: clamp(0.5rem, 5vw, 2rem);
    margin-bottom:2rem;
    margin-left:1rem;
    flex: 1;
    overflow-y: hidden;
    height: clamp(10rem,70vh, 50rem);
    width: clamp(75rem, 65vw, 100rem);
}

#main-layout {
    display:flex;
    align-items:flex-start;
    margin:auto;
    height: clamp(10rem, 80vh, 50rem);
    width: clamp(10rem, 70vw, 125rem);
}

header {
    
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: var(--space-xl);
    margin-left: var(--space-lg);

    width: clamp(180px, 18vw, 260px);
    height: clamp(10rem,70vh, 50rem);

}

#site-title {
    margin-top: clamp(0.5rem, 1vh, 2rem);
    margin-bottom: clamp(0.5rem, 1vh, 2rem);
    margin-left:auto;
    margin-right:auto;
    font-family: var(--font-title);
    font-size: clamp(1rem, 2vw, 5rem);
    font-weight:bolder;
    color: var(--color-text-dark);
    letter-spacing:4px;
}

#task-bar {
    display:flex;
    width: 97vw;
    margin-left: auto;
    margin-right: auto;

    height: clamp(1rem, 10vh, 5rem);
    width: clamp(10rem, 70vw, 125rem);

    background: 
        radial-gradient(circle, 
            var(--task-bar-gradient-top),
            var(--task-bar-gradient-middle),
            var(--task-bar-gradient-bottom)
        );
    
    border: 5px solid #0000007a;

    box-shadow:
    0 0 0 2px rgba(19, 0, 103, 0.43),
        8px 8px 18px rgba(21, 0, 55, 0.52);
}

footer {
    text-align: center;
    margin-top: var(--space-lg);
    color: #4d4d4d;
    font-size: 0.9rem;
}


