:root {
    --color-page-bg-top: #006bde;
    --color-page-bg-middle: #17113d;
    --color-page-bg-bottom: #006bde;

    --color-window-top: #9201c3;
    --color-window-middle: #24081f;
    --color-window-bottom: #693c7b;

    --color-border: #7aa6e0;

    /* this is the main window bg */
    --color-paper: #ffffff;

    /* popup window bg */
    --color-window: #ffffff;

    --color-text: #222;
    --color-text-dark: #243018;

    --color-button: #ddd;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 10px;
    --space-lg: 20px;
    --space-xl: 30px;

    --radius-sm: 4px;
    --radius-md: 8px;

    --shadow-window:
        0 0 0 1px rgb(0, 0, 0),
        8px 8px 20px rgba(0, 0, 0, 0.46);

    --shadow-paper:
        0 0 0 2px rgb(126, 120, 186),
        8px 8px 18px rgba(0,0,0,.3);

    --font-main: "VT323", monospace;
    --font-title: "Retro Floral";     
}
