html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color:white;
}

.black-button {
    background-color: black;
    color: white;
    border-color : green;
}

#nav-background {
    width: 100%;
    height: 100%;
    background: rgb(103,100,50);
    border-bottom: 3px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center; 
    padding: 10px 0;
}

#link-container {
    display: inline-block;
    color: white;
}


#link-container {
    border-radius: 5vw;
    border-style:outset;
    border-color: rgb(3,56,32);
    background: rgb(3,56,32);

    text-align: center;
    width:fit-content;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.navigation h1, h2 {
    display: inline;
    margin: 0 10px;
}

.navbutton {
    display: inline;
    margin: 0 10px;
}

#main-body {
    background: rgb(69,89,37);
}

/* Blur effect */
.blur {
    filter: blur(3px);
}

/* Hide by default */
.hidden {
    display: none;
}

#popup-overlay {
    position: fixed;
    inset: 0; 

    background: rgba(0, 0, 0, 0.5);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9999; 
}

/* when active */
#popup-overlay.active {
    display: flex;
}


/* Popup box */
#popup-box {
    background: #f4f1ea;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;

    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}